---
layout: layouts/blog.njk
title: All Tags
---

<h1>All Tags</h1>
<div class="tags">
{% for tag in search.values("tags") %}
  {% if tag != "post" %}
    <a href="{{ ('/tags/' + tag + '/') | url }}">#{{ tag }}</a>
  {% endif %}
{% endfor %}
</div>